<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-pincode-input.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-pincode-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#pincode-input1').pincodeInput({
                hidedigits: false, complete: function (value, e, errorElement) {
                    console.log(errorElement)
                }
            });
        })
    </script>
    <script>
        let socket = io.connect('http://' + document.domain + ':' + location.port);

    </script>

    <title>Přihlášení</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-6 my-5 bg-components">
            <div class="card p-5 ">
                <form method="post">
                    <div class="card-body text-center">
                        <label for="username" class="h3"><strong>Uživatelské jméno</strong></label>
                    </div>
                    <div class="card-body text-center">
                        {% if users %}
                            <select name="users" class="p-2 h4 form-control">
                                {% for o in users %}
                                    <option value="{{ o.id }}">{{ o.username }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                    <div class="card-body text-center h4">
                        <div>
                            <input type="text" name="pin" id="pincode-input1">
                        </div>
                    </div>
                    <button class=" mr-3 btn btn-success h3 float-right">Přihlásit se</button>
                </form>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


</body>
<script src="{{ url_for('static', filename='js/mqtt-socket.js') }}">

</script>
</html>