{% extends 'base.html' %}

{% block title %}Příhlášení{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card p-5 bg-components" style="width: 18rem;">
                    <form method="post">
                        <div class="card-body text-center">
                            <label for="username"><strong>Uživatelské jméno</strong></label>
                        </div>
                        <div class="card-body text-center">
                            {% if users %}
                                <select name="users" class="p-2">
                                    {% for o in users %}
                                        <option value="{{ o.id }}">{{ o.username }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                        <div class="card-body text-center">
                            <div>
                                <input type="text" name="pin" id="pincode-input1">
                            </div>
                        </div>
                        <div class="card-body text-center ">
                            <input type="submit" value="Log In" class="p-2">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col4"></div>
        </div>
    </div>
{% endblock %}