{% extends 'base.html' %}

{% block title %}
    {% if datas %}
        {% for data in datas %}
            {{ data.label }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <form method="post">
                {% if datas %}
                    {% for data in datas %}
                        <div class="form-group h3">
                            <label for="label">Název zařízení</label>
                            <input name="label" id="label" class="form-control" value="{{ data.label }}" required>
                        </div>
                        <div class="form-group h3">
                            <label for="device_topic">Adresa zařízení</label>
                            <input name="device_topic" id="device_topic" class="form-control"
                                   value="{{ data.device_topic }}"
                                   required>
                        </div>

                        <div class="form-group form-check h3">
                            {% if data.is_active == 1 %}
                                <input type="checkbox" id="is_active" name="is_active" checked>
                            {% else %}
                                <input type="checkbox" id="is_active" name="is_active">
                            {% endif %}
                            <label class="form-check-label">Aktivní</label>
                        </div>

                        <div class="form-group h3">
                            {% if types %}
                                <label class="form-check-label">Typ</label>
                                <select name="types" class="form-control">
                                    {% for o in types %}
                                        <option value="{{ o.id }}">{{ o.label }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>

                        <button class="p-3 mr-3 btn btn-warning float-right">Edit</button>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

{% endblock %}