{% extends 'base.html' %}


{% block title %}
    {% if devices %}
        {% for device in devices %}
            Zařízení: {{ device.label }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row my-4">
        <div class="col-lg-12">
            <table class="table table-dark h3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Název</th>
                    <th scope="col">Adresa (topic)</th>
                    <th scope="col">aktivní</th>
                    <th scope="col">Typ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% if devices %}
                        {% for device in devices %}
                            <th scope="row">{{ device.id }}</th>
                            <td>{{ device.label }}</td>
                            <td id="topic">{{ device.device_topic }}</td>
                            <td>{{ device.is_active }}</td>
                            <td><a href="/types/{{ device.type_id }}/">
                                {% if types %}
                                    {% for type in types %}
                                        {{ type.label }}
                                    {% endfor %}

                                {% endif %}
                            </a></td>
                        {% endfor %}
                    {% endif %}

                </tr>
                </tbody>
            </table>
        </div>
    </div>


        <div class="row">
            <div class="col-lg-12">
                <div id="publish" class="bg-components my-3 p-4 h3 link-brown" value=""></div>
            </div>
        </div>


    <div class="row">
        {% if g.user['is_supervisor'] == 1 %}
            {% if devices %}
                {% for device in devices %}
                    <a href="{{ url_for('devices.devices_edit',id = device.id) }}" class="col-lg-6">
                        <div class=" bg-components my-3 p-4 h3 link-brown">
                            Edit
                        </div>
                    </a>
                    <a href="" class="col-lg-6">
                        <div class=" bg-components my-3 p-4 h3 link-brown text-delete">
                            Delete
                        </div>
                    </a>
                {% endfor %}
            {% endif %}

        {% endif %}
    </div>
    <div class="my-5">
        <hr/>
    </div>

    {% if scenes %}
        {% for scene in scenes %}

            <a href="{{ url_for('scenes.scene',id = scene.id) }}">
                <div class="col-lg-12 bg-components my-3 p-4 h3 bg-scenes link-brown">
                    {{ scene.label }}
                </div>
            </a>
        {% endfor %}
    {% endif %}

{% endblock %}