{% extends 'base.html' %}

{% block title %}Přidání zařízení{% endblock %}

{% block navbar_extension %}
    <div class="col-lg-4">
        <a href="{{ url_for('auth.user_add') }}">
            <div class="card bg-components link-brown bg-nav my-3">
                <div class="card-body h3 card-body text-center">
                    <p class="">Nový uživatel</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a href="{{ url_for('scenes.scenes_add') }}">
            <div class="card bg-components link-brown bg-nav my-3">
                <div class="card-body h3 card-body text-center">
                    <p class="">Přidání nové scény</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group h3">
                    <label for="label">Název zařízení</label>
                    <input name="label" id="label" class="form-control" required>
                </div>
                <div class="form-group h3">
                    <label for="device_topic">Adresa zařízení</label>
                    <input name="device_topic" id="device_topic" class="form-control"
                           required>
                </div>

                <div class="form-group form-check h3">
                    <input type="checkbox" id="is_active" name="is_active">
                    <label class="form-check-label">Aktivní</label>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group h3">
                            {% if types %}
                                <label class="form-check-label">Typ</label>
                                <select name="types" class="form-control">
                                    {% for o in types %}
                                        <option value="{{ o.id }}">{{ o.label }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if g.user['is_supervisor'] == 1 %}

                        <a href="{{ url_for('types.types_add') }}" class="col-lg-8">
                            <div class=" bg-components my-3 p-4 h3 link-brown">
                                Přidat typ
                            </div>
                        </a>
                    {% endif %}
                </div>


                <button class="p-3 mr-3 px-4 py-3 btn btn-success float-right">Přidat</button>
            </form>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

{% endblock %}