{% extends 'base.html' %}

{% block title %}Přidání scény{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="label">Název scény</label>
            <input name="label" id="label" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="scene_topic">adresa scény</label>
            <input name="scene_topic" id="scene_topic" class="form-control" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" id="is_active" name="is_active">
            <label class="form-check-label">Je aktivní?</label>
        </div>
        <input type="submit" value="Přidat">
    </form>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
{% endblock %}