{% extends 'base.html' %}

{% block title %}
    {% if datas %}
        {% for data in datas %}
            {{ data.label }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <form method="post">
                {% if routines %}
                    {% for routine in routines %}
                        <div class="form-group h3">
                            <label for="label">Název služby</label>
                            <input name="label" id="label" class="form-control" value="{{ routine.label }}" required>
                        </div>
                        <div class="form-group h3">
                            {% if devices %}
                                <label class="form-check-label">Přiřazené zařízení</label>
                                <select name="devices" class="form-control">
                                    {% for o in devices %}
                                        {% if o.id == routine.device_id %}
                                            <option value="{{ o.id }}" selected>{{ o.label }}</option>
                                        {% else %}
                                            <option value="{{ o.id }}">{{ o.label }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                        <div class="form-group h3">
                            <label for="data">Data</label>
                            <input name="data" id="data" class="form-control" required value="{{ routine.data }}">
                        </div>
                        <div class="form-group h5">
                            <div id="weekdays" onclick="getIndexDays()"></div>
                            <input type="hidden" value="" id="days" name="days">
                        </div>
                        <div class="form-group h3">
                            <label for="label">Čas</label>
                            <select name="hours" id="hours">
                                {% if routine.hour == "" %}
                                    <option value="" selected>Neuvedeno</option>
                                {% else %}
                                    <option value="">Neuvedeno</option>
                                {% endif %}
                                {% if routine.hour == "*" %}
                                    <option value="*" selected>Každou hodinu</option>
                                {% else %}
                                    <option value="*">Každou hodinu</option>
                                {% endif %}
                                {% for i in range(0, 24) %}
                                    {% if i|string == routine.hour|string %}
                                        <option value="{{ i }}" selected>{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            :
                            <select name="minutes" id="minutes">
                                {% if routine.minute == "" %}
                                    <option value="" selected>Neuvedeno</option>
                                {% else %}
                                    <option value="">Neuvedeno</option>
                                {% endif %}
                                {% if routine.minute == "*" %}
                                    <option value="*" selected>Každou minutu</option>
                                {% else %}
                                    <option value="*">Každou minutu</option>
                                {% endif %}
                                {% for i in range(0, 61) %}
                                    {% if i|string == routine.minute|string %}
                                        <option value="{{ i }}" selected>{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            :
                            <select name="seconds" id="seconds">
                                {% if routine.second == "" %}
                                    <option value="" selected>Neuvedeno</option>
                                {% else %}
                                    <option value="">Neuvedeno</option>
                                {% endif %}
                                {% if routine.second == "*" %}
                                    <option value="*" selected>Každou sekundu</option>
                                {% else %}
                                    <option value="*">Každou sekundu</option>
                                {% endif %}
                                {% for i in range(0, 61) %}
                                    {% if i|string == routine.second|string %}
                                        <option value="{{ i }}" selected>{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group form-check h3">
                            {% if routine.is_active == 1 %}
                                <input type="checkbox" id="is_active" name="is_active" checked>
                            {% else %}
                                <input type="checkbox" id="is_active" name="is_active">
                            {% endif %}
                            <label class="form-check-label">Aktivní</label>
                        </div>
                        <button class="p-3 mr-3 px-4 py-3 btn btn-warning float-right">Upravit</button>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <script>
        $(function () {
            $('#weekdays').weekdays({
                days: ["Každý den", "Pondělí", "Úterý", "Středa", "Čtvrtej", "Pátek", "Sobota", "Neděle"]
            });
        });
        function getIndexDays() {
            let indexes = $('#weekdays').selectedIndexes();
            let array = [];
            for (const index of indexes) {
                array.push(index);
            }
            $('#days').val(array);
        }

    </script>
{% endblock %}