<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-pincode-input.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-pincode-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#pincode-input1').pincodeInput({
                hidedigits: false, complete: function (value, e, errorElement) {
                    console.log(errorElement)
                }
            });
        })
    </script>
    <script>
        let socket = io.connect('http://' + document.domain + ':' + location.port);

    </script>

    <title>Zavlažovací systém</title>
</head>
<body>
<header class="bg-components-dark">
    <div class="bottom-line">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-12">
                    <div class="float-left">
                        <h1 class=" text-header h1">{% block title %}{% endblock %}</h1>
                    </div>
                    <div class="float-right h2">
                        {% if g.user['is_supervisor'] %}
                            <span class="h3 pt-3 is_supervisor">{{ g.user['username'] }}</span>
                        {% else %}
                            <span class="h3 pt-3">{{ g.user['username'] }}</span>
                        {% endif %}
                        <span><a href="{{ url_for('auth.user_logout') }}">
                                <div class="card bg-components link-brown bg-nav ">
                                    <span class="card-body h5 card-body text-center">
                                        <p class="h6">Odhlásit se</p>
                                    </span>
                                </div>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row my-5">
        <div class="col-lg-4">
            <a href="{{ url_for('homepage.main') }}">
                <div class="card bg-components link-brown bg-nav p-3 my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Domů</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ url_for('scenes.scenes') }}">
                <div class="card bg-components link-brown bg-nav p-3 my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Všechny scény</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ url_for('devices.devices') }}">
                <div class="card bg-components link-brown bg-nav p-3 my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Všechna zařízení</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <a href="{{ url_for('scenes.scenes_add') }}">
                <div class="card bg-components link-brown bg-nav my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Nová scéna</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ url_for('devices.devices_add') }}">
                <div class="card bg-components link-brown bg-nav my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Přidat zařízení</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer class="bg-components-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                &#169; Marek Tremel 2022
            </div>
        </div>
    </div>
</footer>
</body>
<script src="{{ url_for('static', filename='js/mqtt-socket.js') }}">

</script>
</html>