<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-pincode-input.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-pincode-input.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#pincode-input1').pincodeInput({
                hidedigits: false, complete: function (value, e, errorElement) {
                    console.log(errorElement)
                }
            });
        })
    </script>

    <title>Title</title>
</head>
<body>
<header>
    <div class="bottom-line">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-12">
                    <div>
                        <h1 class="text-header h1">{% block title %}{% endblock %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row my-5">
        <div class="col-lg-4">
            <a href="{{ url_for('homepage.main') }}">
                <div class="card bg-components link-brown bg-nav p-3 my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Domů</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ url_for('scenes.scenes') }}">
                <div class="card bg-components link-brown bg-nav p-3 my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Všechny scény</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ url_for('devices.devices') }}">
                <div class="card bg-components link-brown bg-nav p-3 my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Všechna zařízení</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <a href="{{ url_for('scenes.scenes_add') }}">
                <div class="card bg-components link-brown bg-nav my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Přidat scénu</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ url_for('devices.devices_add') }}">
                <div class="card bg-components link-brown bg-nav my-3">
                    <div class="card-body h2 card-body text-center">
                        <p class="">Přidat zařízení</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>