<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-pincode-input.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-pincode-input.js') }}"></script>

    <title>Title</title>
</head>
<body>
<header>
    <div class="bottom-line">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <h1 class="text-header">{% block title %}{% endblock %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% block content %} {% endblock %}
</body>
</html>