{% extends 'base.html' %}

{% block title %}Header{% endblock %}

{% block content %}

    <div class="square square-scenes mt-3"></div><h2 class="ml-4">Scény</h2>
    <hr/>
    <div class="row my-5">
        {% if scenes %}
            {% for scene in scenes %}
                <div class="col-lg-4">
                    <a href="{{ url_for('scenes.scene',id = scene.id)}}">
                        <div class="card bg-components link-brown bg-scenes p-3 my-3">
                            <span class="dot dot-online"></span>
                            <div class="card-body h2 card-body text-center">
                                <p class="">{{ scene.label }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="square square-devices mt-3"></div><h2 class="ml-4">Zařízení</h2>
    <hr/>
    <div class="row mt-5">
        {% if devices %}
            {% for device in devices %}
                <div class="col-lg-4">
                    <a href="{{ url_for('devices.device',id = device.id)}}">
                        <div class="card bg-components link-brown bg-devices p-3 my-3">
                            <span class="dot dot-online"></span>
                            <div class="card-body h2 card-body text-center">
                                <p class="">{{ device.label }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}